.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  height: 10000cm;
}

.wrapper {
  max-width: 420px;
  width: 100%;
}

.wrapper h1 {
  text-align: center;
  padding-bottom: 10px;
}

.wrapper_buttons {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

hr {
  height: 2px;
  background-color: #000;
}

.wrapper_hasil {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 20pt;
  font-weight: 700;
}
